/*  -------------------------------------------------------------------------------------------
	(2) Grid and Layout */

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10{
	display: inline;
	/*float: left;
	position: relative;*/
}

/* Width Grid */
.grid-1 { width: 10%; }
.grid-2 { width: 20%; }
.grid-3 { width: 30%; }
.grid-4 { width: 40%; }
.grid-5 { width: 50%; }
.grid-6 { width: 60%; }
.grid-7 { width: 70%; }
.grid-8 { width: 80%; }
.grid-9 { width: 90%; }
.grid-10 { width: 100%; }

/* Position Grid */
.top-0 { top: 0; }
.top-1 { top: 10%; }
.top-2 { top: 20%; }
.top-3 { top: 30%; }
.top-4 { top: 40%; }
.top-5 { top: 50%; }
.top-6 { top: 60%; }
.top-7 { top: 70%; }
.top-8 { top: 80%; }
.top-9 { top: 90%; }
.top-10 { top: 100%; }

.left-0 { left: 0; }
.left-1 { left: 10%; }
.left-2 { left: 20%; }
.left-3 { left: 30%; }
.left-4 { left: 40%; }
.left-5 { left: 50%; }
.left-6 { left: 60%; }
.left-7 { left: 70%; }
.left-8 { left: 80%; }
.left-9 { left: 90%; }
.left-10 { left: 100%; }