/* ----------------------------------------------------------------------------
	Purpose:
	Global CSS Styles for the t.HomeDepot.com website
	$Last Updated: 16-October-2013 12:00:00PM $bxd0439
/*	----------------------------------------------------------------------------
	Table Of Contents
	1. Resets & Defaults
	2. Grid & Layout
	3. Typography

	x. PIP
	x. PLP
	x. Store Finder
*/



/*	----------------------------------------------------------------------------
	(1) Resets & Defaults */

p {
	property: value;
}
.some-class {
	property: value;
}



/*	----------------------------------------------------------------------------
	(2) Grid & Layout */

p {
	property: value;
}
.some-class {
	property: value;
}



/* ----------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
	x. Name of a SPECIFIC TEMPLATE OR PAGE (eg. _PIP) */

p {
	property: value;
}
.some-class {
	property: value;
}

/*	----------------------------------------------------------------------------
	Module Name */

p {
	property: value;
}
.some-class {
	property: value;
}

/*	----------------------------------------------------------------------------
	Module Name */

p {
	property: value;
}
.some-class {
	property: value;
}


/* --------------------------------
	Breakout for parts of Module  */

p {
	property: value;
}
.some-class {
	property: value;
}





