/* TOUCH ASSETS
------------------------------------------------------------------------------*/


/* (5) Buttons 
------------------------------------------------------------------------------*/

.btn, .thdTablet-btn {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-0-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	/*padding: 8px 10px;*/
	padding: 8px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
}
.btn-short, .thdTablet-btn-short {
	text-transform: capitalize;
	padding: 4px 6px;
	font-weight: normal;
}
.btn-orange,
input.btn-orange, 
.thdTablet-btn-orange,
input.thdTablet-btn-orange {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9871e), color-stop(100%,#f96302));
	background: -webkit-linear-gradient(top, #f9871e 0%,#f96302 100%);
	background: -ms-linear-gradient(top, #f9871e 0%,#f96302 100%);
	background: linear-gradient(top, #f9871e 0%,#f96302 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9871e', endColorstr='#f96302',GradientType=0 );
	border: 1px solid #f96302;
	color: #fff;
}
.btn-gray,
input.btn-gray,
.thdTablet-btn-gray,
input.thdTablet-btn-gray {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#777777));
	background: -webkit-linear-gradient(top,  #999999 0%,#777777 100%);
	background: -ms-linear-gradient(top,  #999999 0%,#777777 100%);
	background: linear-gradient(to bottom,  #999999 0%,#777777 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#777777',GradientType=0 );
	border: 1px solid #777777;
	color: #fff;
}
.btn-lightGray,
input.btn-lightGray,
.thdTablet-btn-lightGray,
input.thdTablet-btn-lightGray {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b3b3), color-stop(100%,#999999));
	background: -webkit-linear-gradient(top,  #b3b3b3 0%,#999999 100%);
	background: -ms-linear-gradient(top,  #b3b3b3 0%,#999999 100%);
	background: linear-gradient(to bottom,  #b3b3b3 0%,#999999 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#999999',GradientType=0 );
	border: 1px solid #9a9a9a;
	color: #fff;
}
.btn-white,
input.btn-white,
.thdTablet-btn-white,
input.thdTablet-btn-white {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	border: 1px solid #ccc;
	color: #666666;
}
.btn-flat-lightGray, .thdTablet-btn-flat-lightGray {
	background: #999;
	color: #fff;
}
.btn-flat-darkGray, .thdTablet-btn-flat-darkGray {
	background: #666666;
	color: #fff;
}
.btn-flat-green, .thdTablet-btn-flat-green {
	background: #249c47;
	border: 1px solid #249c47;
	color: #fff;
}



/* ICONS
------------------------------------------------------------------------------*/

@font-face {
	font-family: 'hd-custom';
	src: url('../images/hd-custom.woff') format('woff'),
		url('../images/hd-custom.ttf') format('truetype');
}

.icon-free-shipping-symbol,
.icon-open-box-symbol,
.icon-close-symbol,
.icon-back-symbol,
.icon-online-only-symbol,
.icon-verified-symbol,
.icon-shipping,
.icon-close,
.icon-attention,
.icon-three-sixty-view,
.icon-magnify,
.icon-more-views,
.icon-more-information-symbol,
.icon-link-out-symbol,
.icon-chevron-symbol,
.icon-minus-symbol,
.icon-plus-symbol,
.icon-lock-symbol,
.icon-star-symbol,
.icon-magnify-symbol,
.icon-product-info,
.icon-bopis,
.icon-bopis-boss-symbol,
.icon-play,
.icon-google-plus,
.icon-mobile-symbol,
.icon-facebook,
.icon-youtube,
.icon-pinterest,
.icon-rss,
.icon-cart-symbol,
.icon-local-ad-symbol,
.icon-list-symbol,
.icon-arrow-up-symbol,
.icon-arrow-down-symbol,
.icon-poi-symbol,
.icon-form-check-solid,
.icon-form-check-outline,
.icon-my-account-symbol,
.icon-how-to-symbol,
.icon-more-symbol,
.icon-solid-down-arrow-symbol,
.icon-more-options-symbol,
.thdTablet-glyph-how-to-symbol,
.thdTablet-glyph-local-ad-symbol,
.thdTablet-glyph-online-only-symbol,
.thdTablet-glyph-chevron-symbol,
.thdTablet-glyph-store-finder,
.thdTablet-glyph-my-account,
.thdTablet-glyph-my-list,
.thdTablet-glyph-cart,
.thdTablet-glyph-more,
.thdTablet-glyph-search,
.thdTablet-glyph-down-arrow-white,
.icon-twitter,
.icon-thd-logo,
.thdTablet-glyph-thd-logo,
.icon-credit-center-symbol,
.thdTablet-glyph-credit-center-symbol  {
	font-family: 'hd-custom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	/*font-size: 28px;*/
	color: #666666;
}



/* Font Overrides */
.icon-chevron-symbol,
.thdTablet-glyph-chevron-symbol {
	font-size: 75%;
}
.icon-link-out-symbol {
	font-size: 80%;
}


/* Assign Fonts */

.thdTablet-glyph-down-arrow-white:before	{
	content: "\e029";
}

	.thdTablet-glyph-down-arrow-white	{
	color:#fff;
	font-size:15px;
	}
	
.thdTablet-shop-all-trigger.active ~ .thdTablet-copy i.thdTablet-glyph-down-arrow-white:before	{
	content:"\e003";
}
	.thdTablet-shop-all-trigger.active ~ .thdTablet-copy i.thdTablet-glyph-down-arrow-white	{
	color:#f96302;
	font-size:12px;
	font-weight:bold;
	margin-top:2px;
	}

.icon-free-shipping-symbol:before {
	content: "\e000";
}
.icon-open-box-symbol:before {
	content: "\e002";
}
.icon-close-symbol:before {
	content: "\e003";
}
.icon-back-symbol:before {
	content: "\e004";
}
.pagination .next:before {
	display:inline-block;
	-webkit-transform: scale(-1, 1); /* Safari and Chrome */
}
.icon-online-only-symbol:before,
.thdTablet-glyph-online-only-symbol:before {
	content: "\e005";
}
.icon-verified-symbol:before {
	content: "\e006";
}
.icon-shipping:before {
	content: "\e007";
}
.icon-close:before {
	content: "\e008";
}
.icon-attention:before {
	content: "\e009";
}
.icon-three-sixty-view:before {
	content: "\e00a";
}
.icon-magnify:before {
	content: "\e00b";
}
.icon-more-views:before {
	content: "\e00c";
}
.icon-more-information-symbol:before {
	content: "\e00d";
}
.icon-link-out-symbol:before {
	content: "\e00e";
}
.icon-chevron-symbol:before,
.thdTablet-glyph-chevron-symbol:before {
	content: "\e00f";
}
.icon-minus-symbol:before {
	content: "\e010";
}
.icon-plus-symbol:before {
	content: "\e011";
}
.icon-lock-symbol:before {
	content: "\e012";
}
.icon-star-symbol:before {
	content: "\e013";
}
.icon-magnify-symbol:before {
	content: "\e014";
}
.icon-product-info:before {
	content: "\e015";
}
.icon-bopis:before {
	content: "\e016";
}
.icon-bopis-boss-symbol:before {
	content: "\e001";
}
.icon-play:before {
	content: "\e017";
}
.icon-google-plus:before  {
	content: "\e018";
}
.icon-mobile-symbol:before  {
	content: "\e019";
}
.icon-facebook:before {
	content: "\e01b";
}
.icon-youtube:before {
	content: "\e01c";
}
.icon-pinterest:before {
	content: "\e01d";
}
.icon-rss:before {
	content: "\e01e";
}
.icon-cart-symbol:before {
	content: "\e01a";
}
.icon-local-ad-symbol:before {
	content: "\e01f";
}
.icon-list-symbol:before {
	content: "\e020";
}
.icon-arrow-up-symbol:before {
	content: "\e021";
}
.icon-arrow-down-symbol:before {
	content: "\e022";
}
.icon-poi-symbol:before {
	content: "\e023";
}
.icon-form-check-solid:before {
	content: "\e024";
}
.icon-form-check-outline:before {
	content: "\e025";
}
.icon-my-account-symbol:before {
	content: "\e026";
}
.icon-how-to-symbol:before {
	content: "\e027";
}
.icon-more-symbol:before {
	content: "\e028";
}
.icon-solid-down-arrow-symbol:before {
	content: "\e029";
}
.icon-more-options-symbol:before {
	content: "\e02a";
}
.icon-twitter:before {
	content: "\e02b";
}
.icon-thd-logo:before,
.thdTablet-glyph-thd-logo:before {
	content: "\e02c";
}
.icon-credit-center-symbol:before,
.thdTablet-glyph-credit-center-symbol:before {
	content: "\e02d";
}

/* HEADER ICONS/GLYPHS
------------------------------------------------------------------------------*/

/* Style header glyphs */

.thdTablet-nav-btns i	{
	font-size:26px;
	line-height:1.1em;
	color:#999;
	/*text-shadow: 0 -1px -5px rgba(0, 0, 0, 0.6);*/
}
.thdTablet-icon-thd-logo:before {
	content: "\e02c";
}
.icon-how-to:before,
.thdTablet-glyph-how-to-symbol:before {
	content:"\e027";
}
	i.thdTablet-glyph-how-to-symbol	{
	font-size:26px;
	position:top;
	}
.icon-local-ad-symbol:before,
.thdTablet-glyph-local-ad-symbol:before	{
	content:"\e01f";
}
	i.thdTablet-glyph-local-ad-symbol	{
	line-height:1.1em;
	}
.icon-store-finder:before,
.thdTablet-glyph-store-finder:before {
	content:"\e023";
}
	i.thdTablet-glyph-store-finder	{
	font-size:24px;
	line-height:1.3em;
	}
.icon-my-account:before,
.thdTablet-glyph-my-account:before {
	content:"\e026";
}
	i.thdTablet-glyph-my-account	{
	font-size:28px;
	}
.icon-my-list:before,
.thdTablet-glyph-my-list:before {
	content:"\e020";
}
	i.thdTablet-glyph-my-list	{
	font-size:21px;
	line-height:1.45em;
	}
.icon-cart:before,
.thdTablet-glyph-cart:before {
	content:"\e01a";
}
	i.thdTablet-glyph-cart	{
	line-height:1.2em;
	font-size:25px;
	}
.icon-more:before,
.thdTablet-glyph-more:before {
	content:"\e028";
}
.icon-search:before,
.thdTablet-glyph-search:before {
	content:"\e014";
	}
.icon-down-arrow-white,
.thdTablet-glyph-down-arrow-white {
	content:"\e029";
}
/* Social Media Icons */
.socialList i.icon-facebook {
	color:#3B5998;
}
.socialList i.icon-twitter {
	color:#4099FF;
}
.socialList i.icon-youtube {
	color:#c02328
}
.socialList i.icon-rss {
	color:#f6861f;
}
.socialList i.icon-mobile-symbol {
	color:#3d3d3d;
}
/*------------------------------------------------------------------------------*/

/* BUY BOX 
-------------------------------------------------------------*/

/* TABLET SPECIFIC STYLES
-------------------------------------------------------------*/
#pip .show-radio span,
#pip .no-radio span {
	display: block;
}
#pip .radio p.bb-inline > span {
	display: inline;
}

/* SHARED BUYBOX STYLES
-------------------------------------------------------------*/
#buyBox p {
	margin-bottom: 10px;
}
#buyBox .button-wrapper h4 {
	margin-bottom: 5px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 5px;
}
#buyBox a.btn i {
	color:#fff;
	line-height: 0;
}
#buyBox a.btn {
	text-align: center;
	line-height: 12px;
}
#buyBox .cart-quantity {
	margin-top: 5px;
}
#buyBox .show-radio p {
	margin-left: 34px;
}
.
#buyBox h4.one-line {
	padding-top: 10px;
}
#buyBox span.bb-inline {
	display: inline;
}
/* Radio Buttons */
#buyBox h4,
#buyBox p.small {
	padding-right:0;
	padding-left:0;
}
#buyBox p.small {
	line-height: 14px;
}
#buyBox .radio {
	display: block;
	overflow: auto;
}
#buyBox .radio label {
	display: block;
	cursor: pointer;
	position: relative;
}
#buyBox input[type="radio"] {
	display:none;
}
#buyBox input[type="radio"] {
	display:none;
}
#buyBox input[type="radio"] + label span.radio-btn {
	display:block;
	width:30px;
	height:26px;
	margin: 0;
	vertical-align:baseline;
	cursor:pointer;
	float: left;
	margin-right: 5px;
}
#buyBox input[type="radio"]:checked + label span.radio-btn:after {
background:#f96302;
}
#buyBox .radio-btn {
	display: inline-block;
	position: relative;
}
#buyBox .radio-btn:before, 
#buyBox .radio-btn:after {
	content: "";
	position: absolute;
	border-radius: 50%;
}
#buyBox .radio-btn:before {
	width: 28px;
	height: 28px;
	left: 0;
	top: 0;
	background-color: #fff;
	border: 1px solid #999;
}
#buyBox .radio-btn:after {
	width: 16px;
	height: 16px;
	left: 7px;
	top: 7px;
	background-color: #999;
}
.show-radio {
	margin-bottom:10px;
}

/* BUY BOX ERROR MESSAGING */
#buyBox .errorMessage	{
	border:1px solid #333;
	border-radius: 3px;
	background-color: #fff;
	color:#333;
	margin-bottom: 15px;
	padding: 5px;
	overflow: auto;
}
#buyBox .errorMessage h4	{
	display: block;
	line-height: 12px;
	font-size: 12px;
}
#buyBox .errorMessage p,
#buyBox .errorMessage h4 {
	margin-left: 25px;
	margin-bottom: 0;
}
#pip #buyBox .errorMessage p {
	margin-bottom: 0;
}
#buyBox .errorMessage i.icon-close, 
#buyBox .errorMessage i.icon-attention	{
	display: block;
	float: left;
	position: static;
	top: 0;
}
#buyBox .errorMessage i.icon-attention	{
	color:#333;
}