@font-face {
	font-family: 'hd-custom';
	src:url('fonts/hd-custom.eot');
	src:url('fonts/hd-custom.eot?#iefix') format('embedded-opentype'),
		url('fonts/hd-custom.woff') format('woff'),
		url('fonts/hd-custom.ttf') format('truetype'),
		url('fonts/hd-custom.svg#hd-custom') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'hd-custom';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-free-shipping-symbol, .icon-open-box-symbol, .icon-close-symbol, .icon-back-symbol, .icon-online-only-symbol, .icon-verified-symbol, .icon-shipping, .icon-close, .icon-attention, .icon-three-sixty-view, .icon-magnify, .icon-more-views, .icon-more-information-symbol, .icon-link-out-symbol, .icon-chevron-symbol, .icon-minus-symbol, .icon-plus-symbol, .icon-lock-symbol, .icon-star-symbol, .icon-magnify-symbol, .icon-product-info, .icon-bopis, .icon-bopis-boss-symbol, .icon-play, .icon-google-plus, .icon-mobile-symbol, .icon-facebook, .icon-youtube, .icon-pinterest, .icon-rss, .icon-cart-symbol, .icon-local-ad-symbol, .icon-list-symbol, .icon-arrow-up-sysmbol, .icon-arrow-down-sysmbol, .icon-poi-symbol, .icon-form-check-solid, .icon-form-check-outline, .icon-my-account-symbol, .icon-how-to-symbol, .icon-more-symbol, .icon-solid-down-arrow-symbol, .icon-more-options-symbol, .icon-twitter, .icon-hd-logo, .icon-credit-center-symbol {
	font-family: 'hd-custom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-free-shipping-symbol:before {
	content: "\e000";
}
.icon-open-box-symbol:before {
	content: "\e002";
}
.icon-close-symbol:before {
	content: "\e003";
}
.icon-back-symbol:before {
	content: "\e004";
}
.icon-online-only-symbol:before {
	content: "\e005";
}
.icon-verified-symbol:before {
	content: "\e006";
}
.icon-shipping:before {
	content: "\e007";
}
.icon-close:before {
	content: "\e008";
}
.icon-attention:before {
	content: "\e009";
}
.icon-three-sixty-view:before {
	content: "\e00a";
}
.icon-magnify:before {
	content: "\e00b";
}
.icon-more-views:before {
	content: "\e00c";
}
.icon-more-information-symbol:before {
	content: "\e00d";
}
.icon-link-out-symbol:before {
	content: "\e00e";
}
.icon-chevron-symbol:before {
	content: "\e00f";
}
.icon-minus-symbol:before {
	content: "\e010";
}
.icon-plus-symbol:before {
	content: "\e011";
}
.icon-lock-symbol:before {
	content: "\e012";
}
.icon-star-symbol:before {
	content: "\e013";
}
.icon-magnify-symbol:before {
	content: "\e014";
}
.icon-product-info:before {
	content: "\e015";
}
.icon-bopis:before {
	content: "\e016";
}
.icon-bopis-boss-symbol:before {
	content: "\e001";
}
.icon-play:before {
	content: "\e017";
}
.icon-google-plus:before {
	content: "\e018";
}
.icon-mobile-symbol:before {
	content: "\e019";
}
.icon-facebook:before {
	content: "\e01b";
}
.icon-youtube:before {
	content: "\e01c";
}
.icon-pinterest:before {
	content: "\e01d";
}
.icon-rss:before {
	content: "\e01e";
}
.icon-cart-symbol:before {
	content: "\e01a";
}
.icon-local-ad-symbol:before {
	content: "\e01f";
}
.icon-list-symbol:before {
	content: "\e020";
}
.icon-arrow-up-sysmbol:before {
	content: "\e021";
}
.icon-arrow-down-sysmbol:before {
	content: "\e022";
}
.icon-poi-symbol:before {
	content: "\e023";
}
.icon-form-check-solid:before {
	content: "\e024";
}
.icon-form-check-outline:before {
	content: "\e025";
}
.icon-my-account-symbol:before {
	content: "\e026";
}
.icon-how-to-symbol:before {
	content: "\e027";
}
.icon-more-symbol:before {
	content: "\e028";
}
.icon-solid-down-arrow-symbol:before {
	content: "\e029";
}
.icon-more-options-symbol:before {
	content: "\e02a";
}
.icon-twitter:before {
	content: "\e02b";
}
.icon-hd-logo:before {
	content: "\e02c";
}
.icon-credit-center-symbol:before {
	content: "\e02d";
}
